[submodule "lib/euler-price-oracle"]
	path = lib/euler-price-oracle
	url = https://github.com/euler-xyz/euler-price-oracle
[submodule "lib/fee-flow"]
	path = lib/fee-flow
	url = https://github.com/euler-xyz/fee-flow
[submodule "lib/reward-streams"]
	path = lib/reward-streams
	url = https://github.com/euler-xyz/reward-streams
[submodule "lib/euler-vault-kit"]
	path = lib/euler-vault-kit
	url = https://github.com/euler-xyz/euler-vault-kit
[submodule "lib/ethereum-vault-connector"]
	path = lib/ethereum-vault-connector
	url = https://github.com/euler-xyz/ethereum-vault-connector
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/openzeppelin-contracts-upgradeable"]
	path = lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/layerzero-devtools"]
	path = lib/layerzero-devtools
	url = https://github.com/LayerZero-Labs/devtools
[submodule "lib/layerzero-v2"]
	path = lib/layerzero-v2
	url = https://github.com/LayerZero-Labs/layerzero-v2
[submodule "lib/solidity-bytes-utils"]
	path = lib/solidity-bytes-utils
	url = https://github.com/GNSPS/solidity-bytes-utils
[submodule "lib/euler-swap"]
	path = lib/euler-swap
	url = https://github.com/euler-xyz/euler-swap
[submodule "lib/euler-earn"]
	path = lib/euler-earn
	url = https://github.com/euler-xyz/euler-earn
