[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.24"

evm_version = "cancun"
optimizer = true
optimizer_runs = 20_000

fs_permissions = [
    { access = "read-write", path = "./" },
    { access = "read-write", path = "../euler-interfaces" },
]

gas_reports = ["*"]

[profile.default.lint]
severity = ["high", "med"]
ignore = ["test/**/*.sol", "script/**/*.sol"]
exclude_lints = ["erc20-unchecked-transfer", "unchecked-call", "unsafe-typecast"]

[profile.default.fmt]
line_length = 120
tab_width = 4
bracket_spacing = false
int_types = "long"
quote_style = "double"
number_underscore = "preserve"
override_spacing = true
wrap_comments = true
ignore = [
    "script/production/*/*",
    "script/production/*/*/*"
]

[profile.default.fuzz]
max_test_rejects = 1_000_000
seed = "0xee1d0f7d9556539a9c0e26aed5e63556"
runs = 1000

[profile.default.invariant]
call_override = false
depth = 50
runs = 1000

[etherscan]
sonic = { chain = "146", key = "${VERIFIER_API_KEY_146}", url = "${VERIFIER_URL_146}" }
berachain = { chain = "80094", key = "${VERIFIER_API_KEY_80094}", url = "${VERIFIER_URL_80094}" }
unichain = { chain = "130", key = "${VERIFIER_API_KEY_130}", url = "${VERIFIER_URL_130}" }

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
