[profile.default]
src = "src"
out = "out"
libs = ["lib"]

evm_version = "cancun"
optimizer = true
optimizer_runs = 20_000
solc = "0.8.24"

fs_permissions = [{ access = "read-write", path = "./"}, { access = "read-write", path = "../euler-interfaces"}]

gas_reports = ["*"]

[profile.default.fmt]
line_length = 120
tab_width = 4
bracket_spacing = false
int_types = "long"
quote_style = "double"
number_underscore = "preserve"
override_spacing = true
wrap_comments = true
ignore = [
    "script/production/mainnet/clusters/PrimeCluster.s.sol",
    "script/production/mainnet/clusters/PendeulCluster.s.sol",
    "script/production/mainnet/clusters/YieldCluster.s.sol",
    "script/production/base/clusters/BaseCluster.s.sol"
]

[profile.default.fuzz]
max_test_rejects = 1_000_000
seed = "0xee1d0f7d9556539a9c0e26aed5e63556"
runs = 1000

[profile.default.invariant]
call_override = false
depth = 50
runs = 1000

# See more config options https://github.com/foundry-rs/foundry/blob/master/crates/config/README.md#all-options
